:root {
  --font-title-stack: 'Inknut Antiqua', serif;
  --font-body-stack: 'Libre Baskerville', serif;
  --accent: red;
  --shadow: rgba(255, 37, 37, 0.329);
}

/* @font-face {
  font-family: 'Tiamat';
  src: url('/fonts/tiamat.woff2') format('woff2'),
       url('/fonts/tiamat.woff') format('woff'),
       url('/fonts/tiamat.otf') format('otf');
} */

#root {
  height: 100%;
}
* {
  box-sizing: border-box;
}
.App {
  height: 100%;
  font-family: var(--font-body-stack);
  font-size: 1rem;
}

/* Deck.js */
.Deck-wrapper {
  text-align: center;
}
.Deck-list {
  padding: 0.5em 0;
  list-style: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.Card {
  display: inline-block;
  width: 20em;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0px 1px 3px rgba(255, 38, 38, 0.75), 0px 2px 6px rgba(255, 84, 84, 0.5);
  color: rgb(50, 50, 50);
  text-align: left;
  vertical-align: top;
  z-index: 1000;
  background-color: white;
}
.Anim-fade-in {
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.Card-transition {
  transition: all ease-in-out 0.2s;
}
.Card-prev {
  position: relative;
}
.Card-next {
  position: relative;
}
.Card-active {
  position: relative;
}
.Card-title {
  font-family: var(--font-title-stack);
  font-size: 1.5em;
  letter-spacing: -0.05em;
  margin: 0;
  height: 1.5em;
  line-height: 1.5em;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}

.Card-subtitle {
  margin: 1em 0 0.5em 0;
  font-size: 1em;
  font-style: italic;
}

.Card-details {
  margin: 0.5em 0;
}

.Card-detail {
  color: rgb(70, 70, 70);
  font-size: 0.8em;
  border-bottom: 1px solid rgb(70, 70, 70);
  padding: 0.2em 0;
}
.Card-detail {
  font-weight: bold;
}
.Card-detail > span {
  float: right;
  font-weight: normal;
}

.Card-description {
  height: 15em;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.Card-text {
  font-size: 0.8em;
  margin: 0.5em 0;
}

.Card-text:last-child {
  text-align: right;
}

/* Navbar and buttons */
.Navbar {
  width: 100%;
  display: flex;
  padding: 0.25em;
  justify-content: left;
}
.Navbar-center {
  justify-content: center;
}
.Btn {
  font-size: 1em;
  font-family: var(--font-title-stack);
  text-decoration: none;
  margin: 0 0.25em;
  background-color: var(--accent);;
  color: white;
  display: inline-block;
  padding: 0.3em 1em;
  border: none;
  border-radius: 100em;
  align-self: center;
  outline: none;
  transition: all ease-in-out 0.2s;
  user-select: none;
}
.Btn:focus, .Btn:hover {
  box-shadow: 0px 1px 3px var(--shadow),
  0px 2px 10px var(--shadow);
}
.Btn:disabled {
  background-color: rgb(185, 185, 185);
}
.Btn-group {
  align-self: center;
}
.Spacer {
  flex-grow: 1;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.6)
  }
  to {
    opacity: 1;
    transform: scale(1)
  }
}

/* Picker.js */
.Picker-list {
  padding: 0;
  height: 90vh;
  margin: 0;
  width: auto;
  list-style: none;
  overflow-y: auto;
}

.Spell {
  display: block;
  transition: all ease-in-out 0.2s;
}

.Spell-checkbox {
  vertical-align: text-bottom;
  margin: 4px 0.5em;
}

.Spell-title {
  font-family: var(--font-title-stack);
  font-size: 1.2em;
}

/* Home */
.Home-wrapper {
  height: 100vh;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
}
.Home-content {
  width: 100%;
  align-self: center;
}
.Home-title {
  font-family: var(--font-title-stack);
  font-size: 2em;
  text-align: center;
  margin: 0;
  line-height: 1.3em;
}
.Home-copyright {
  font-family: var(--font-body-stack);
  color: rgb(185, 185, 185);
  padding: 0 0.5em 1em 0.5em;
}
.Home-copyright a {
  text-decoration: none;
  color: var(--accent);;
  font-weight: bold;
  transition: text-shadow 0.2s ease-out;
}
.Home-copyright a:hover, .Home-copyright a:focus {
  color: var(--accent);;
  text-shadow: 0px 1px 3px var(--shadow);
}
.Text-small {
  font-size: 0.8em;
}
.Text-big {
  font-size: 1.2em;
}

/* Responsive Layout */
@media screen and (min-width: 30em) {
  .App, .Home-copyright {
    max-width: 50em;
    margin: auto;
  }
}